.content__intro {
  display: flex;
  padding: 92px 302px 0 148px;
  flex-direction: column;
  max-width: 100%;
}

.content__title {
  color: #ffffff;
  max-width: 830px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
}

.content__text {
  color: #ffffff;
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
}

.content__author {
  color: #ffffff;
  max-width: 732px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  text-align: right;
}

.content__final__text {
  color: #ffffff;
  max-width: 722px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
}

@media screen and (max-width: 544px) {
  .content__intro {
    padding: 24px;
  }

  .content__title {
    font-size: 32px;
    width: 100%;
  }

  .content__text,
  .content__author,
  .content__final__text {
    width: 100%;
    font-size: 16px;
  }
}

@media screen and (max-width: 1024px) {
  .content__intro {
    padding: 48px;
  }

  .content__title {
    font-size: 40px;
    width: 100%;
  }

  .content__text,
  .content__author,
  .content__final__text {
    width: 100%;
    font-size: 20px;
  }
}
